*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0%;
}

@font-face {
    font-family: font4;
    src: url(./font4.ttf);
}
@font-face {
    font-family:font1 ;
    src: url(./font1.ttf);
}
@font-face {
    font-family: font2;
    src: url(./font2.ttf);
}
@font-face {
    font-family:font3 ;
    src: url(./font3.ttf);
}




#page1{
    height: 100vh;
    width: 100%;
}


#page1 #video{
height: 100vh;
width: 100%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

#page1 #video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


#page1-text{
    height: 60vh;
    width: 60%;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page1-text h3{
    font-family: font2;
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10vh;

}

#page1-text  button{
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-family: font4;
    font-weight: 500;
    padding: 1.3vw 3vw;
    font-size: 1.2vw;
    border-radius: 4vw;
    background: none;

}

@media only screen and (max-width: 767px){
    *{
        margin: 0;
        padding: 0;
         box-sizing: border-box;
    }
    
    html,body{
        height: 100%;
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    #page1{
        height: 100vh;
        width: 100%;
    }

    #page1 #video{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        }
        #page1 #video video{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
        #page1-text{
            height: 60vh;
            width: 100%;
            position: absolute;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #page1-text h3{
            font-family: font2;
            font-size: 6vw;
            font-weight: 500;
            color: #fff;
            margin-bottom: 10vh;
        
        }
        #page1-text  button{
            border: 1px solid #fff;
            outline: none;
            color: #fff;
            font-family: font4;
            font-weight: 500;
            padding: 3vw 3vw;
            font-size: 4vw;
            border-radius: 4vw;
            background: none;
        
        }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    *{
        margin: 0;
        padding: 0;
         box-sizing: border-box;
    }
    
    html,body{
        height: 100%;
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    #page1{
        height: 100vh;
        width: 100%;
    }
    
    #page1 #video{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        }
        #page1 #video video{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
        #page1-text{
            height: 60vh;
            width: 100%;
            position: absolute;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #page1-text h3{
            font-family: font2;
            font-size: 6vw;
            font-weight: 500;
            color: #fff;
            margin-bottom: 10vh;
        
        }
        #page1-text  button{
            border: 1px solid #fff;
            outline: none;
            color: #fff;
            font-family: font4;
            font-weight: 500;
            padding: 3vw 3vw;
            font-size: 4vw;
            border-radius: 4vw;
            background: none;
        
        }
}


@media (min-width: 1200px) and (max-width: 1300px){
    body{
        background-color: red;
    }
    #page1{
        height: 100vh;
        width: 100%;
    }
    
    #page1 #video{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        }
        #page1 #video video{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
        #page1-text{
            height: 70vh;
            width: 100%;
            position: absolute;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #page1-text h3{
            font-family: font2;
            font-size: 5vw;
            font-weight: 500;
            color: #fff;
            margin-bottom: 10vh;
        
        }
        #page1-text  button{
            border: 1px solid #fff;
            outline: none;
            color: #fff;
            font-family: font4;
            font-weight: 500;
            padding: 3vw 3vw;
            font-size: 2.5vw;
            border-radius: 4vw;
            background: none;
        
        }
}